body {
  background: #f1f1f1;
}

.app-view {
  overflow: hidden;
  max-width: 500;
}

.image-view img{
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.imageDetail {
  height: 100px;
}

.image-view-list-entry {
  position: relative;
  border: 1px solid black;
  max-width: 100px;
}

.image-view-list-entry img {
  max-width: 100px;
  height: auto;
}

.image-list-item {
  font-size: 16px;
  padding: 8px;
}

.image-list-entry-detail {
  font-size: 12px;
  color: #999;
}

